Document_Summarizer.json
{
  "name": "Document Summarizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bswFGSnt76BMaX0eaTC-4jerOUhKA_6b",
          "mode": "list",
          "cachedResultName": "Summarize Document",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bswFGSnt76BMaX0eaTC-4jerOUhKA_6b"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "367fbf83-4a29-41ca-af17-2ffb49279cba",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vkzJO3upBgMMhXFM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "aa6b43a0-1843-4d4b-99d0-9e982792584d",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "h6jOVHUtKGrA11BC",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarise this content into 3 - 5 sentences:  {{ $json.content }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        0
      ],
      "id": "aabb774f-d971-40ad-82d7-91b4d8391f79",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        620,
        180
      ],
      "id": "30393d4f-0cd2-4576-b1ae-1ce340a1903a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "aEQxd0SioFdqYB0Z",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Uh1T7Sy5v5GkIlMp-xJAH_jooiggTPaefnrm_TUHOIg",
          "mode": "list",
          "cachedResultName": "summary sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uh1T7Sy5v5GkIlMp-xJAH_jooiggTPaefnrm_TUHOIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uh1T7Sy5v5GkIlMp-xJAH_jooiggTPaefnrm_TUHOIg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ $json.text }}",
            "Name": "={{ $('Google Drive Trigger').item.json.name }}",
            "URL": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        920,
        0
      ],
      "id": "fd5f105c-c685-4e10-bad9-c654316d2743",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dhzf1jdltO0CTt3d",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd02a149-9a87-485c-ac89-7772813a0f3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00a572274e0a67ee26ac7dcfca225665ea369de5523283132ffc1675024dcc41"
  },
  "id": "hokYkEGotr7NZndd",
  "tags": []
}